name: CD Pipeline

on:
  push:
    branches:
    - main
    - master

permissions:
  id-token: write
  contents: write
  pull-requests: write

jobs:
  build_and_deploy:
    runs-on: ubuntu-latest
    steps:
    - name: Checkout Code
      uses: actions/checkout@v4
      with:
        fetch-depth: 0

    - name: Azure Login (OIDC)
      uses: azure/login@v2
      with:
        client-id: ${{ secrets.AZURE_CLIENT_ID }}
        tenant-id: ${{ secrets.AZURE_TENANT_ID }}
        subscription-id: ${{ secrets.AZURE_SUBSCRIPTION_ID }}

    - name: Install dependencies and Build Application
      run: |
        npm ci
        npm run build
      env:
        VITE_SPOTIFY_CLIENT_ID: ${{ secrets.SPOTIFY_CLIENT_ID }}
        VITE_SPOTIFY_REDIRECT_URI: ${{ vars.SPOTIFY_REDIRECT_URI }}

    - name: Deploy to SWA
      uses: Azure/static-web-apps-deploy@v1
      with:
        action: "upload"
        app_location: "/"
        output_location: "dist"
        azure_static_web_apps_api_token: ${{ secrets.AZURE_STATIC_WEB_APPS_API_TOKEN }}
        repo_token: ${{ secrets.GITHUB_TOKEN }}

    - name: Build Changelog
      id: github_release
      uses: mikepenz/release-changelog-builder-action@v4
      env:
        GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}

    - name: Create GitHub Release
      uses: softprops/action-gh-release@v2
      with:
        body: ${{ steps.github_release.outputs.changelog }}
        tag_name: deploy-${{ github.run_number }}
        name: Release deploy-${{ github.run_number }}
        token: ${{ secrets.GITHUB_TOKEN }}
