name: CI Pipeline

on:
  pull_request:
    branches:
    - main
    - master
    paths:
    - 'src/**'
    - 'public/**'
    - 'package*.json'
    - 'vite.config.*'

concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: true

jobs:
  build:
    name: Build app
    runs-on: ubuntu-latest

    steps:
    - name: Checkout
      uses: actions/checkout@v4

    - name: Use Node.js
      uses: actions/setup-node@v4
      with:
        node-version: '22'
        cache: 'npm'

    - name: Install dependencies
      run: npm ci

    - name: Build
      run: npm run build
      env:
        VITE_SPOTIFY_CLIENT_ID: ${{ secrets.SPOTIFY_CLIENT_ID }}
        VITE_SPOTIFY_REDIRECT_URI: ${{ vars.SPOTIFY_REDIRECT_URI }}

    - name: Upload build artifact
      if: ${{ success() }}
      uses: actions/upload-artifact@v4
      with:
        name: site-dist
        path: dist
        retention-days: 7
